* {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
}

.google-map {
  flex: 5 0; 
}

.sidebar {
  flex: 2 0;
  background-color: #ffffff;
}

ul.places-list {
  margin: 0;
  padding: 10px;
}

li.places-item:hover {
  background-color: #f8f9fa;
}

li.places-item {
  cursor: pointer;
  padding: 8px 10px;
  text-decoration: none;
  list-style: none;
  background-color: #ffffff;
  width: 100%;
  border-top: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
}
li.places-item:first-of-type {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


li.places-item:last-of-type {
  border-bottom: 1px solid #e7e7e7;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

li.places-item.active {
  background-color: #f8f9fa;
}

h4 {
  padding-left: 10px;
}

.search-bar{
  padding: 10px
}
.search-bar input {
  outline: none;
  padding: 5px;
  font-size: 1.1em;
  width: 100%;
  box-shadow: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 1px solid #e7e7e7;
}

ul.suggestions {
  margin: 0;
  padding: 0;
}

li.suggestions-item:hover {
  background-color: #f8f9fa;
}
li.suggestions-item {
  cursor: pointer;
  padding: 8px 10px;
  text-decoration: none;
  list-style: none;
  background-color: #ffffff;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
}
li.suggestions-item:last-of-type {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

li.suggestions-item.active {
  background-color: #f8f9fa;
}

p.info {
margin: 0;
}